@import "_variables";
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  header {
    background-color: $white;
    color: $red;

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: $fixedWidth;
    height: 100%;

    h1 {
      font-size: 85px;
      width: 50%;
      text-transform: uppercase;
      letter-spacing: 5px;
      padding: 10vh 0 72px 72px;
    }

    .bottom {
      padding: 72px;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 35px;
    }

    h3,
    p {
      width: 70%;
      line-height: 1.2;
      text-align: justify;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 40px;
      width: 80%;
    }

    nav {
      width: 100%;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          font-size: 15px;
          color: black;
          border-bottom: solid 1px black;
          margin-bottom: 2px;
          padding-bottom: 5px;
          margin-right: 12px;
          opacity: 0.6;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  main {
    padding-left: $fixedWidth;
    background-color: $red;
    .movie {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-image: linear-gradient(rgba(0, 0, 0, 0.08), transparent);
      .wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        .movie_header {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 25px;

          h4 {
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
          }
          h5 {
            font-weight: 500;
            font-size: 16px;
          }
        }

        img {
          width: 100%;
          box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);
        }

        .movie_agree {
          font-weight: 500;
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
          span {
            margin-right: 5px;
            padding-top: 5px;
            font-size: 15px;
          }
          i {
            opacity: 0.7;
            margin: 0px 7px;
            font-size: 20px;
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
