.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
  margin-right: 15px;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend__column {
  display: flex;
  align-items: center;
}

.friend__column .friend__name {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.friend__column .friend__status,
.friend__column .friend__bottom-text,
.friend__column .chat__timestamp {
  opacity: 60%;
}

.friend__column .friend__bottom-text {
  font-size: 16px;
}

.friend__column .friend__status,
.friend__column .chat__timestamp {
  font-size: 12px;
}

.friend__column .friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #52e084;
  font-size: 13px;
}

.friend__now-listening span {
  opacity: 60%;
}

.friend__now-listening i {
  font-size: 11px;
  color: #52e084;
}

.friend__column .friend__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
